body {
    margin: 0;
    text-align: center;
    background-color: #111827;
    font-size: 40px;
    margin-bottom: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#D1D5DB;
    min-width: 700px;
}

#home, #guest {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid white; */
    /* margin-left: auto;
    margin-right: auto; */
}


.highlight {
    text-shadow: 0 0 10px rgb(3, 255, 53);
    /* border: 6px solid white; */
    /* text-shadow: none; */
}

.winner-text {
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    /* margin-top: -31.4px; */
}


.score {
    font-family: monospace;
    font-size: 60px;
    margin: 0;
    padding: 0;
    background-color: #0369A1;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


.plus-btn {
    padding: 5px;
    margin-top: 5px;
    border: 2px solid #D1D5DB;
    border-radius: 5px;
    background-color:#111827;
    font-family: monospace;
    font-size: xx-large;
    color:#D1D5DB;
}

.plus-btn:active {
    background-color:#303030;
    border: 2px solid transparent;
}

#reset-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#reset-btn {
    font-size: 20px;
    padding: 5px 10px;
}